:root {
  --background: #153849;
  --text: navy;
  --halojen: rgb(75, 221, 75);
  --diatomic-nonmetal: rgb(134, 19, 241);
  --noble-gas: rgb(172, 41, 224);
  --alkali-metal: rgb(223, 43, 30);
  --alkaline-earth-metal: rgb(29, 232, 247);
  --metalloid: rgb(219, 99, 19);
  --polyatomic-nonmetal: rgb(0, 162, 255);
  --post-transition-metal: rgb(228, 228, 228);
  --transition-metal: rgb(196, 216, 19);
  --lanthanide: rgb(216, 19, 167);
  --actinide: rgb(65, 151, 185);
  --unknown: rgb(228, 228, 228);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 15px;
}

#tableContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(11, 9vh);
  grid-gap: 5px;
  width: 95vw;
  height: 10px;
}

.elementDiv {
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.elementDiv:hover {
  background-color: white;
}

.element-number {
  font-size: 0.5em;
}
.element-symbol {
  font-weight: bold;
}
.element-name {
  font-size: 7px;
}

#empty-space-row-1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-area: 1 / 2 / span 1 / -2;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#empty-space-row-2-3 {
  margin-bottom: 20px;
  grid-area: 2 / 3 / 4 / span 10;
  color: var(--text);
  font-size: 9%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#empty-space-row-2-3 > * {
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
}

#empty-space-row-6 {
  grid-area: 6 / 3 / span 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lanthanide);
}
#empty-space-row-7 {
  grid-area: 7 / 3 / span 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--actinide);
}
#empty-space-row-8 {
  grid-area: 8 / 1 / span 1 / -1;
}
#empty-space-row-9-left {
  grid-area: 9 / 1 / span 1 / span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  color: var(--lanthanide);
}
#empty-space-row-10-left {
  grid-area: 10 / 1 / span 1 / span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  color: var(--actinide);
}
#empty-space-row-9-10-right {
  grid-area: 9 / -2 / span 2 / span 1;
}
#empty-space-row-11 {
  grid-area: 11 / 1 / -1 / -1;
}

.diatomic-nonmetal {
  background-color: var(--diatomic-nonmetal);
}
.noble-gas {
  background-color: var(--noble-gas);
}
.alkali-metal {
  background-color: var(--alkali-metal);
}
.alkaline-earth-metal {
  background-color: var(--alkaline-earth-metal);
}
.metalloid {
  background-color: var(--metalloid);
}
.polyatomic-nonmetal {
  background-color: var(--polyatomic-nonmetal);
}
.post-transition-metal {
  background-color: var(--post-transition-metal);
}
.transition-metal {
  background-color: var(--transition-metal);
}
.unknown {
  background-color: var(--unknown);
}

.lanthanide {
  grid-row: 9;
  background-color: var(--lanthanide);
}
.actinide {
  grid-row: 10;
  background-color: var(--actinide);
}
.halojen {
  background-color: var(--halojen);
}
#wikiBox {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#wikiBox > iframe {
  width: 90vw;
  height: 90vh;
  border-radius: 2px;
}
#closeBtn {
  background-color: coral;
  color: var(--background);
  border: none;
  border-radius: 2px;
  width: 30vw;
  height: 5vh;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1em;
}

.navbar {
  width: 95%;
  background-color: #222;
  height: 70px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0);
}

.navbar h1,
.navbar h3 {
  margin: 0;
}
@media (max-height: 450px) {
  p {
    font-size: 8px;
  }
  .element-name,
  .element-number {
    display: none;
  }
}
@media (max-width: 750px) {
  .element-name,
  .element-number {
    display: none;
  }
  .elementDiv {
    padding: 10px;
  }
  p {
    font-size: 10px;
  }
  .navbar {
    margin-top: -9px;
    width: 90%;
  }
}
@media (max-height: 550px) {
  .navbar {
    width: 98%;
    background-color: #222;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
